<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="fw_webhook_catalog_product_save_after" instance="Firework\Firework\Observer\ProductSaveAfter" />
    </event>    
    <event name="catalog_product_delete_after">
        <observer name="fw_webhook_catalog_product_delete_after" instance="Firework\Firework\Observer\ProductDeleteAfter" />
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="fw_webhook_catalog_product_attribute_update_before" instance="Firework\Firework\Observer\ProductAttributeUpdateBefore" />
    </event>
</config>