<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Firework_Firework::firework"
            title="FireWork"
            module="Firework_Firework"
            sortOrder="51"
            resource="Firework_Firework::firework"
        />
        <add
            id="Firework_Firework::firework_dashboard"
            title="FireWork Dashboard"
            module="Firework_Firework"
            sortOrder="10"
            action="firework/firework/dashboard"
            resource="Firework_Firework::firework_dashboard"
            parent="Firework_Firework::firework"
        />
        <add
            id="Firework_Firework::firework_configuration"
            title="Configuration"
            module="Firework_Firework"
            sortOrder="20"
            parent="Firework_Firework::firework"
            action="adminhtml/system_config/edit/section/firework"
            resource="Firework_Firework::firework_configuration"
        />
        <add
            id="Firework_Firework::firework_webhook"
            title="Webhook"
            module="Firework_Firework"
            sortOrder="20"
            parent="Firework_Firework::firework"
            action="firework/webhook/index"
            resource="Firework_Firework::firework_webhook"
        />
    </menu>
</config>